<div class="contenedor">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input [(ngModel)]="creador.nombre" matInput matNativeControl />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Nombre de usuario</mat-label>
    <input [(ngModel)]="creador.username" matInput matNativeControl />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>Descripcion</mat-label>
    <textarea
      [(ngModel)]="creador.description"
      matInput
      matNativeControl
    ></textarea>
  </mat-form-field>
  <div class="input-file-cont">
    <input
      type="file"
      style="display: none"
      #filePortada
      accept="image/*"
      (change)="onChangeFileInput(1)"
    />
    <button
      mat-raised-button
      color="primary"
      class="file-select-button"
      (click)="onClickFileInputButton(1)"
    >
      <mat-icon>attach_file</mat-icon>
      Foto de portada
    </button>
    <div class="cont-img portada">
      <img #imgPortada />
    </div>
  </div>
  <div class="input-file-cont">
    <input
      type="file"
      style="display: none"
      #filePerfil
      accept="image/*"
      (change)="onChangeFileInput(2)"
    />
    <button
      mat-raised-button
      color="primary"
      class="file-select-button"
      (click)="onClickFileInputButton(2)"
    >
      <mat-icon>attach_file</mat-icon>
      Foto de perfil
    </button>
    <div class="cont-img">
      <img #imgPerfil />
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>twitch.gaming/</mat-label>
    <input [(ngModel)]="creador.account_twitch" matInput matNativeControl />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>instagram.com/</mat-label>
    <input [(ngModel)]="creador.account_instagram" matInput matNativeControl />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>twitter.com/</mat-label>
    <input [(ngModel)]="creador.account_twitter" matInput matNativeControl />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label>titktok/</mat-label>
    <input [(ngModel)]="creador.account_tiktok" matInput matNativeControl />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="enviar()">Guardar</button>
</div>

<swal #confirmSwal title="Creador registrado " text="muy bien" icon="success">
</swal>
